NODE_ENV=development
APP_PORT=3000
DATABASE_URL=postgresql://user:password@localhost:5432/url_shortener_task
JWT_SECRET=your-secret-key-here
JWT_EXPIRES_IN=7d # https://github.com/vercel/ms
REDIS_URL=redis://localhost:6379

# Docker Compose overrides (optional)
POSTGRES_DB=url_shortener_task
POSTGRES_USER=user
POSTGRES_PASSWORD=password
